# Folders #
###########
.vscode/
images/
models/
quickscripts/

# Compiled source #
###################
*.exe
./pathtracer

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Created images #
##################
*.png
*.jpg
*.ppm
